@use '../../global';
.registro__containerOptions{
    height: 339px;
    width: 516px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}
.form__registro{
    max-width: 869px;
    width: 100%;
}