@use '../../global' as g;
.form__input--borde{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}
.form__input--borde:focus{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}
input:focus:valid {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

input:focus:invalid {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}
.form__container{
    max-width: 869px;
    min-height: 474px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top:20px;
    border-radius: 20px;
}